/* Resets */
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {font-family: sans-serif;}

h1, h2, p {margin-bottom: 1em;}

img {
  width: 100%;
  height: auto;
}

.container {
  position:relative;
  max-width: 800px;
  margin: 0 auto;
}

/* HERO */
.hero {
  position: relative;
  /*background: purple;*/
  overflow: hidden;
  /* min-height: 500px; */
  height: 0;
  padding-bottom: 56.25%;
}

.hero-title {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 20vw;
  top: 0;
  color: white;
  font-size: 3em;
}

.hero-placeholder {}

/* */
.page-content {padding: 1em;}

.one {
  /*filter: blur(30);*/
}

footer {
  background: purple;
  padding: 1em;
  overflow: hidden;
  color: white;
}

footer ul {list-style: none;}
footer a {color: white;text-decoration: none;}

.footer-text {
  float: left;
}

.footer-links {
  float: right;
}
